.question-closed,
.question-answered {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    padding-right: 10px;
    margin-bottom: 25px;
    font-weight: 700;
}

.question-closed ion-icon,
.question-answered ion-icon {
    font-size: 30px;
}

.question-open {
    width: 300px;
    height: 131px;
    background-color: #FFFFD4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 6px 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #333333;
}

.question-open img {
    width: 30px;
    height: 20px;
    align-self: flex-end;
}

.colors {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.colors div {
    color: #FFFFFF;
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.colors div>p {
    width: 80%;
}

.red {
    background-color: #FF3030;
}

.yellow {
    background-color: #FF922E;
}

.green {
    background-color: #2FBE34;
}

.question-answered {
    text-decoration: line-through;
}

@media (min-width: 935px) {

    .question-closed,
    .question-answered {
        width: 567px;
        height: 92px;
        font-size: 24px;
        padding-left: 23px;
        margin-bottom: 17px;
    }

    .question-open {
        width: 567px;
        height: 184px;
        font-size: 26px;
        padding: 15px 23px 10px 23px;
        margin-bottom: 17px;
    }

    .question-open img {
        width: 50px;
        height: 33.3px;
    }

    .question-open img:hover {
        cursor: pointer;
    }

    .question-closed ion-icon,
    .question-answered ion-icon {
        font-size: 50px;
    }

    .question-closed ion-icon:hover {
        cursor: pointer;
    }

    .colors {
        justify-content: space-around;
        margin-bottom: 5px;
    }

    .colors div {
        width: 118px;
        height: 51px;
        font-size: 17px;
    }

    .colors div:hover {
        cursor: pointer;
    }
}