@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23vh;
}

.welcome img {
    width: 136px;
    height: 161px;
    margin-bottom: 20px;
}

.button {
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    color: #D70900;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 5vh;
}

header img {
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

footer {
    width: 100vw;
    min-height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-top: 5px
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
    margin-bottom: 80px;
}

.question-closed,
.question-answered {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    padding-right: 10px;
    margin-bottom: 25px;
    font-weight: 700;
}

.question-closed ion-icon,
.question-answered ion-icon, footer ion-icon {
    font-size: 30px;
}

.question-open {
    width: 300px;
    height: 131px;
    background-color: #FFFFD4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 6px 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #333333;
}

.question-open img {
    width: 30px;
    height: 20px;
    align-self: flex-end;
}

.colors {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.colors div {
    color: #FFFFFF;
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.colors div>p {
    width: 80%;
}

.red {
    background-color: #FF3030;
}

.R {
    color: #FF3030;
}

.yellow {
    background-color: #FF922E;
}

.Y {
    color: #FF922E;
}

.green {
    background-color: #2FBE34;
}

.G {
    color: #2FBE34;
}

.question-answered {
    text-decoration: line-through;
}

.answer-icons {
    display: flex;
}

.answered {
    margin-bottom: 6px;
}

span {
    font-weight: 700;
}

.result img {
    width: 23px;
    height: 23px;
    margin-right: 12px;
}

.result > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    text-align: center;
}

.result-title{
    margin-top: 10px;
}

.result-description {
    margin: 14px 0;
}