@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 5vh;
}

header img {
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

footer {
    width: 100vw;
    min-height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-top: 5px;
    padding-bottom: 3px;
}

footer ion-icon {
    font-size: 30px;
}

.R {
    color: #FF3030;
}

.Y {
    color: #FF922E;
}

.G {
    color: #2FBE34;
}