main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
    margin-bottom: 80px;
}

@media (min-width: 935px) {
    main {
        margin-top: 90px;
        margin-bottom: 130px;
    }
}